# Auto update temps
*.old
automake/
libtool/

# Dist directory
build-aux-*

# Autoconf build temp
autom4te.cache

# Configure files
config.log
config.status
configure
Makefile

# CMake build temp
build/
